/*原始設定*/
* {
    width: 100%;
}

.index {
    background: #fdf3de;
    width: 100%;
}

/*header*/
.nav-item {
    color: #fdf3de;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.navbg {
    background: #aa2d29;
}

.chinese {
    font-family: "Noto Serif TC", serif;
    font-weight: bold;
    font-size: 18px;
}

/*查詢功能*/
* {
    box-sizing: border-box;
}

body {
    background-color: #efe9e7;
}

a {
    text-decoration: none;
    color: #3d1101;
}

.wrap {
    max-width: 960px;
    margin: 6% auto -7% 31%;
    height: auto;

}

.search {
    position: relative;
    width: 60%;
    float: center;
}

.search-bar {
    width: 100%;
    height: 32px;
    font-size: 17px;
    border: 3px solid #3d1101;
    background-color: #efe9e7;
}

.search-btn {
    width: 36px;
    height: 32px;
    background-color: #3d1101;
    color: #efe9e7;
    outline: none;
    border: 2px solid #3d1101;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

/*本週熱門*/
.bestsell-title {
    color: #19461f;
    margin: auto;
    padding: 30px 30px;
    max-width: 1200px;
    font-family: "Noto Serif TC", serif;
    background-color: #FFB057;
    border-radius: 40px;
    text-align: center;
}

.bestsell-title:hover {
    transform: scale(1.08)
}

#bt1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif TC", serif;
}

#bt2 {
    font-size: 20px;
    font-family: "Noto Serif TC", serif;
}

.slides {
    margin-top: 10%;
    border-radius: 40px;
    height: 650px;
}

.hot {
    max-width: 100%;
    position: relative;
    padding: 30px;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    margin: auto;
}

.hotcont {
    width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    margin: auto;
}

.hotproduct {
    border-radius: 10px;
    width: 350px;
    height: 450px;
    padding: 20px;
    margin: auto;
    background-color: #aa2d29;
    box-shadow: 0 0px 10px rgba(117, 111, 111, 0.438);
    position: relative;
    top: 10px;
}

.hotproduct:hover {
    box-shadow: 10px 10px 5px #430d0b;
    margin: auto;
}

.productname {
    margin: 15px 0 0 5px;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin: auto;
}

.rank {
    margin: 10px 0 0 5px;
    font-size: 16px;
    font-weight: 400;
    color: #fdf3de;
    text-align: center;
}

/*版權*/
footer {
    clear: both;
    background-color: #19461f;
    font-family: "Noto Serif TC", serif;
    text-align: center;
    color: #fdf3de;
    padding: 15px;
}

/*GoTOP*/
.gotop {
    position: fixed;
    z-index: 90;
    right: 5%;
    bottom: 40px;
    display: none;
    width: 60px;
    height: 60px;
    color: white;
    background: #39642a;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}